<span class="tags">
{% for t in tags_list|sort_by_key('name_lc') %}
    <a class="{{ tag_class }}" href="{{ page.url }}/{{ bookmarks.uri_param }}{{ config.system.param_sep }}{{ t.name }}">
        {{ t.name }}
        &nbsp;
        <sup>{{ t.count }}</sup>
    </a>
{% endfor %}
<a class="{{ tag_class }}" href="{{ page.url }}" title="erase filters">X</a>
</span>
