{% extends 'partials/base.html.twig' %}

{% block content %}

    <h3>{{ page.title }}</h3>
    {{ page.content | raw }}

    {% include 'partials/bookmarks-tags-list.html.twig' %}
    <hr/>

    {% set links_list = bookmarks.links %}
    <ul>
        {% for l in links_list|sort_by_key('sorting_key') %}
        <li>
            <a class="external" href="{{ l.url }}">{{ l.title|default(l.url) }}</a>
            {% if l.tag %}
                &nbsp;
                <span class="tags">
                {% for t in l.tag %}
                <a href="{{ page.url }}/{{ bookmarks.uri_param }}{{ config.system.param_sep }}{{ t }}">{{ t }}</a>
                {% endfor %}
                </span>
            {% endif %}
            {% if l.description %}
                </br>
                <span>{{ l.description }}</span>
            {% endif %}
        </li>
        {% endfor %}
    </ul>
{% endblock %}
